@tailwind base;

@tailwind components;

/* Miscelaneous Styles */
body {
  @apply bg-hero-pattern min-h-screen min-w-full text-gray-600;
}

#root {
  @apply min-h-screen min-w-full;
}

.container {
  @apply w-full mt-4 mx-auto h-full;
  max-width: 1200px;
}

.main-logo {
  max-width: 250px;
  width: 100%;
  height: auto;
  @apply mx-auto;
}

.login {
  max-width: 350px;
  @apply mx-auto;
}

/* Header Styles */
header {
  @apply bg-primary py-4 text-white flex justify-between px-8 text-4xl;
}

header button {
  @apply bg-red-500 p-2 m-0 text-xl;
}

header button:hover {
  @apply bg-red-700;
}

/* Table Style */
.table-container {
  @apply max-w-full overflow-auto;
  max-height: calc(70vh - 30px);
}

table {
  @apply text-center;
}

table thead {
  @apply bg-blue-600 text-white text-lg;
  min-width: 150px;
}

table tbody tr {
  @apply bg-gray-400;
  transition: ease 0.2s;
  
}

table tbody tr:nth-child(even) {
  @apply bg-gray-200;
  transition: ease 0.2s;
}

table tbody tr:hover {
  @apply bg-gray-300;
  transition: ease 0.2s;
}

table tbody tr.registro-alerta {
  @apply bg-primary transition text-white;
}

table tbody tr.registro-alerta:hover {
  @apply bg-primary-accent transition;
}

table tr {
  @apply py-2;
}

table th,
table td {
  @apply px-3;
}

table td a {
  @apply py-1 px-2;
}

/* Form Style */
form {
  @apply text-center;
}

form small {
  @apply font-bold text-left;
}

form .form-group {
  @apply my-2;
}

form .form-group label {
  @apply font-bold text-xl mb-4;
}

input:not([submit]),
textarea {
  @apply py-4 px-2 mt-2 border-2 border-gray-800 rounded-lg block mx-auto w-full;
}

input[type="submit"],
button,
a {
  @apply py-4 px-3 my-2 bg-secondary text-white font-bold rounded-xl block mx-auto transition;
}

input[type="submit"]:hover,
button:hover,
a:hover {
  @apply bg-secondary-accent transition;
}

@tailwind utilities;
